/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
/obj/
.vs/
/MemoryCaptures/
/Recordings/
/Assets/Plugins/Editor/JetBrains*
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties
/Assets/AddressableAssetsData/*/*.bin*
/Assets/StreamingAssets/aa.meta
/Assets/StreamingAssets/aa/*
/.vs
/Library
/Logs
/obj
/UserSettings
